<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="manifest" href="/manifest.json">
    </head>

    <body>
        <h1>Add your sighting below:</h1>

        <form id="sightingForm">
            <input type="text" id="type" placeholder="Bird Type" />
            <textarea id="description" placeholder="Description"></textarea>
            <input type="text" id="lat" placeholder="Latitude" />
            <input type="text" id="lng" placeholder="Longitude" />
            <!-- image input is needed here for the bird sighting,
             there is a lab on how to add images to mongodb, including
             code -->
            <button type="submit">Submit Sighting</button>
        </form>
        <script src="/javascripts/addSighting.js"></script>
    </body>

<script>
    function formSubmission(){

    }
</script>

</html>