<%- include('header'); -%>
<!--<link rel="manifest" href="/manifest.json">-->
<body onload="init()">

<div class="p-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <img class="bird-img" src="../images/bird.jpg">
            </div>
            <div class="col">
                <h3>Location</h3>
                <p>Mock Location xxx</p>

                <h3>Description</h3>
                <p>There are 12 template columns available per row, allowing you to create different combinations of elements that span any number of columns. Column classes indicate the number of template columns to span (e.g., col-4 spans four). widths are set in percentages so you always have the same relative sizing.</p>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-header">
                Comments
            </div>
            <div class="card-body">

                <div id="initial_form" style="display: block">
<!--                    <p>Please insert the id of the Room you want to Join, if you do not have a room id, click Generate Room</p>-->
                    <form onsubmit="return false;">
                        <p><label for="name"> Your nickname </label>
                            <input type="text" id="name" name="name">
                        </p>
<!--                        <p>-->
<!--                            <label for="roomNo"> Your room </label>-->
<!--                            <input type="text" id="roomNo" name="roomNo">-->
<!--                            <button id="roomNoGenerator" onclick="generateRoom()">Generate Room</button>-->
<!--                        </p>-->
                        <button id="connect" onclick="connectToRoom()">Chat</button>
                    </form>
                </div>
                <div id="chat_interface" style="display: none">
<!--                    <div>-->
<!--                        <div id="who_you_are" style="display: inline"></div>, you are in room: <div id="in_room" style="display: inline"></div>-->
<!--                    </div>-->
                    <div id="history" class="boxed"></div>
                    <div id="input" class="bottom boxed">
                        <form onsubmit="return false;" style="width: 100%">
                            <p>
                                <label for="name"> chat: </label>
                                <input type="text" id="chat_input" name="chat_input" style="width: 80%">
                                <button id="chat_send" onclick="sendChatText()">Send</button>
                            </p>
                        </form>
                    </div>
                </div>





            </div>
        </div>
    </div>
</div>
</body>
<%- include('footer'); -%>