<%- include('header'); -%>
<div class="p-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <img class="bird-img" src="images/bird.jpg">
            </div>
            <div class="col">
                <h3>Location</h3>
                <p>Mock Location xxx</p>

                <h3>Description</h3>
                <p>There are 12 template columns available per row, allowing you to create different combinations of elements that span any number of columns. Column classes indicate the number of template columns to span (e.g., col-4 spans four). widths are set in percentages so you always have the same relative sizing.</p>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-header">
                Comments
            </div>
            <div class="card-body">
                <h5 class="card-title">User comment</h5>
                <p class="card-text">2023-03-01 10:00:00</p>
            </div>
        </div>
    </div>
</div>
<%- include('footer'); -%>