<%- include('header'); -%>
  <h1>Bird Watching Page</h1>

  <!--<script src="/javascripts/converter.js"></script>-->
  <!--<script>-->
  <!--  if('serviceWorker' in navigator) {-->
  <!--    navigator.serviceWorker.register('/sw.js', { scope: '/' });-->
  <!--  }-->
  <!--</script>-->
<%- include('footer'); -%>
