<%- include('header'); -%>

  <h1>Bird Watching Page</h1>

<!--<<<<<<< HEAD-->
  <input type="button" onclick="registerPage()" value="Log In/Sign Up" />
  <input type="button" onclick="addSighting()" value="Add a sighting" />
</body>


<script>
  function registerPage(){
    window.location.href = "/users/register";
  }

  function addSighting(){
    window.location.href = "/sightings/add_sighting";
  }
</script>
<!--<script src="/javascripts/converter.js"></script>-->
<!--<script>-->
<!--  if('serviceWorker' in navigator) {-->
<!--    navigator.serviceWorker.register('/sw.js', { scope: '/' });-->
<!--  }-->
<!--</script>-->


</html>

<!--=======-->
  <!--<script src="/javascripts/converter.js"></script>-->
  <!--<script>-->
  <!--  if('serviceWorker' in navigator) {-->
  <!--    navigator.serviceWorker.register('/sw.js', { scope: '/' });-->
  <!--  }-->
  <!--</script>-->
<%- include('footer'); -%>
<!--&gt;>>>>>> origin/Zhonghao-->
