<%- include('header'); -%>
<div class="card" style="width: 22rem;margin: 100px auto;">
    <div class="card-body">
        <h1 class="text-center mb-3">Login</h1>
        <form>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="username" class="form-control" id="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" required>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>
<%- include('footer'); -%>
