<!--<<<<<<< HEAD-->
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="manifest" href="/manifest.json">
</head>

<!--<body>-->
<!--    <h1>Register below:</h1>-->

<!--    <form id="registrationForm" action="/users/register" method="POST">-->
<!--        <label for="username">Username:</label>-->
<!--        <input type="text" name="username" required>-->

<!--        <label for="password">Password:</label>-->
<!--        <input type="password" name="password" required>-->

<!--        <button type="submit" onclick="addUser()">Register</button>-->
<!--    </form>-->

<!--    <script>-->
<!--        function addUser() {-->
<!--            const form = document.getElementById('registrationForm');-->
<!--            form.submit();-->
<!--        }-->
<!--    </script>-->
<!--</body>-->

<!--</html>-->

<!--=======-->

<%- include('header'); -%>

<!--<h1>Register below:</h1>-->

<div class="card" style="width: 22rem;margin: 100px auto;">
    <div class="card-body">
        <h1 class="text-center mb-3">Register</h1>
        <% if (errorMessage) { %>
            <div class="alert alert-danger" role="alert">
                <%= errorMessage %>
            </div>
        <% } %>
        <form id="registrationForm" action="/register" method="POST">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
<!--            <div class="mb-3">-->
<!--                <label for="confirm_password" class="form-label">Confirm Password</label>-->
<!--                <input type="password" class="form-control" id="confirm_password" required>-->
<!--            </div>-->
            <div class="d-grid">
                <button type="submit" onclick="addUser()" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>

<script>
    function addUser() {
        const form = document.getElementById('registrationForm');
        form.submit();
    }
</script>

</body>

</html>


<%- include('footer'); -%>
<!--&gt;>>>>>> origin/Zhonghao-->
