<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="manifest" href="/manifest.json">
</head>

<body>
    <h1>Register below:</h1>

    <form id="registrationForm" action="/users/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" required>

        <label for="password">Password:</label>
        <input type="password" name="password" required>

        <button type="submit" onclick="addUser()">Register</button>
    </form>

    <script>
        function addUser() {
            const form = document.getElementById('registrationForm');
            form.submit();
        }
    </script>
</body>

</html>