#connection-status {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    display: none;
}

#connection-status.offline {
    background-color: red;
    color: white;
    display: block;
}

#connection-status.online {
    background-color: green;
    color: white;
    display: block;
}
