/* --------------Added by Ben to style the login/sign up and add sighting buttons in '/' ---------------*/

/* Button styles */
button, input[type="button"] {
    font-family: inherit;
    font-size: 15pt;
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s;
}

#connection-status {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    display: none;
}

#connection-status.offline {
    background-color: red;
    color: white;
    display: block;
}

#connection-status.online {
    background-color: green;
    color: white;
    display: block;
}


button:hover, input[type="button"]:hover {
    background-color: #0056b3;
    color: white;
}

/* Position the buttons */
.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* ---------------------------------------------------------------------------------------------------*/